<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Webinaires ODEON</h1>
      <h1 class="project-tagline">2 webinaires pour se lancer dans l'exploration des données et la standardisation de l'open data local</h2>
      <h3>&#x1F4C5; 20 et 27 mai 2020 &#x1F4BB; en direct sur Zoom &#x1F5A5;</a></h3>

    </section>

    <section class="main-content">
      {{ content }}
									
    <footer class="site-footer">
	    <p style="font-weight:bold"> A propos du projet Odeon</p>
	    <p>Le cycle d’ateliers est organisé dans le cadre du projet européen « Open data for European open innovation » (ODEON), dont l’Avitem est partenaire. Le projet vise à améliorer la qualité et l’accès aux données ouvertes publiées par les institutions publiques et de soutenir la croissance et l’innovation des entreprises qui envisagent de créer de nouveaux produits ou services en exploitant ces données dans les domaines de l’environnement, la mer et l’industrie créative.</p>
	    <p>Le projet implique 7 pays européens : Italie, Monténégro, Espagne, Croatie, Slovénie, Grèce, France). En savoir plus : https://odeon.interreg-med.eu/</p>
            <img src="./img/avitem logo.png" />
	    </footer>
    </section>

  </body>
</html>
